<div class="box-header with-border">
    <h3 class="box-title">Supplier</h3>
  </div>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>Details</ng-template>
        <section>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Supplier Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control"> </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Bank Account No. </label>
                  <input type="number" class="form-control"> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Make Name </label>
                  <input type="text" class="form-control"> </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Bank Branch </label>
                  <input type="text" class="form-control"> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>PAN Number <span class="text-danger">*</span></label>
                  <input type="text" class="form-control"> </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>IFSC/RTGS code </label>
                  <input type="text" class="form-control"> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Bank Name </label>
                  <input type="text" class="form-control"> </div>
                </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Bank City </label>
                  <input type="text" class="form-control"> </div>
              </div>
            </div>
          </section>
        <div align="right">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Address</ng-template>
        <section>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Country <span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Street Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-6">
                  <div class="form-group">
                    <label>DL No. <span class="text-danger">*</span></label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                      <label>City <span class="text-danger">*</span></label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                        <label>TIN No </label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                          <label>State <span class="text-danger">*</span></label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                            <label>GST No <span class="text-danger">*</span></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                              <label>PIN Code <span class="text-danger">*</span></label>
                              <input type="text" class="form-control">
                            </div>
                          </div>
            </div>
          </section>
            <!-- <section>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="firstName5">Supplier Name :</label>
                                        <input type="text" class="form-control" id="firstName5"> </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="lastName1">Bank Account No. :</label>
                                        <input type="text" class="form-control" id="lastName1"> </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="emailAddress1">Make Name :</label>
                                        <input type="email" class="form-control" id="emailAddress1"> </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="phoneNumber1">Bank Branch :</label>
                                        <input type="tel" class="form-control" id="phoneNumber1"> </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="addressline1">PAN Number :</label>
                                        <input type="text" class="form-control" id="addressline1"> </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="addressline2">IFSC/RTGS code :</label>
                                        <input type="text" class="form-control" id="addressline2"> </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="location3">Bank Name :</label>
                                        <input type="text" class="form-control" id="addressline2"> </div>
                                      </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="date1">Bank City :</label>
                                        <input type="text" class="form-control" id="date1"> </div>
                                    </div>
                                  </div>
                                </section> -->
            <div align="right">
              <button mat-button matStepperNext>Next</button>
            </div>
                          
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
          <ng-template matStepLabel>Contacts</ng-template>
          <section>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control"> </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Office Phone </label>
                    <input type="tel" class="form-control"> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Designation </label>
                    <input type="text" class="form-control"> </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Mobile Number <span class="text-danger">*</span></label>
                    <input type="tel" class="form-control"> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control"> </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Fax Number </label>
                    <input type="tel" class="form-control"> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Website </label>
                    <input type="url" class="form-control" placeholder="http://"> </div>
                  </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Location </label>
                    <input type="text" class="form-control"> </div>
                </div>
              </div>
            </section>
            <div align="right">
                <button mat-button matStepperNext>Next</button>
              </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="forthFormGroup">
        <form [formGroup]="forthFormGroup" (ngSubmit)="onSubmit()">
          <ng-template matStepLabel>Products</ng-template>
            <div class="row">	
                <div class="col-12">
                    
                 <div class="table-responsive">
                   <table id="example5" class="table table-bordered table-striped" style="width:100%">
                   <thead>
                     <tr>
                       <th>Product Code</th>
                       <th>Product Group</th>
                       <th>Product Name</th>
                       <th>Grade</th>
                       <th>Unit Of Measure</th>
                       <th>HSN</th>
                       <th>Action</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr >
                       <td><input type="text">
                        </td>
                        
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td><input type="text"></td>
                       <td align="center">
                        <button class="btn btn-danger btn-outline mr-1 btn-sm" (click)="onDelete(s.product_id, ind)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                     </tr>
                 </table>
                 <div align="right">
                    <button mat-button matStepperNext>Save</button>
                  </div>
                 </div> 
                     </div>
                     <!-- /.box-body -->
                   </div>
            </form>
            </mat-step>
  </mat-horizontal-stepper>

  <!-- 
    *ngFor="let s of product; let ind = index"
  {{s.product_group}}
  {{s.product_name}}
  {{s.product_grade}}
  {{s.product_uom}}
  {{s.product_hsn}}
  {{s.productID}} -->


  <!-- #query (keyup)="filter(query.value)" type="text" id="txtbox">
                        <p *ngFor="let s of pro" (click)="select(s.product_id)">{{s.productId}} - {{s.product_name | titlecase}}</p>    </td> -->