
	<div style="height:60px" >
	<h3> Add Group</h3>		
		</div>		
		  <form [formGroup] = "addGroupForm" (ngSubmit)="onSubmit()">
		<div>
		<mat-form-field style="width:400px !important; height:80px !important;" class="example-full-width">
			<input matInput placeholder="Group Name" value="" formControlName="group_name">
		</mat-form-field>
		</div>
		<p class="full" align="center">
				<button class="btn btn-outline-primary"><i class="fa fa-save"></i> Save</button>
		</p>
	</form>
	