<html><body>
        <table border="1" cellpadding="7" cellspacing="7">
          <tr>
            <th width="50px">No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
          <% if(data.length){ 
            for(var i = 0;i < data.length;i++) { %>
          <tr>
            <td><%=(i+1)%></td>
            <td><%=data[i].name%></td>
            <td><%=data[i].email%></td>
            <td><%=data[i].phone%></td>
          </tr>
          <% }
          }else{ %>
          <tr>
            <td colspan="3">No user</td>
          </tr>
          <% } %>
        </table>

        <form action="/addSp" method="GET">
          <input type="submit" value='New Supplier'/>
          </form>
        
        </body></html>

        