<div style="height:60px" >
  <h3>Update Group</h3>		
    </div>	
    <form [formGroup]="UpdateForm" (ngSubmit)="onSubmit()">
  <div>
  <mat-form-field style="width:400px !important; height:80px !important;" class="example-full-width">
    <input matInput placeholder="Payment Term" value="{{this.group[0].group_name}}" formControlName="name">
  </mat-form-field>
  </div>
  <p class="full" align="center">
      <button class="btn btn-outline-primary"><i class="fa fa-save"></i> Save</button>
  </p>
</form>