<div style="height:60px" >
		<h3> Add UOM</h3>		
			</div>	
			<form [formGroup] = "addUomForm" (ngSubmit)="onSubmit()">
		<div>
		<mat-form-field style="width:400px !important; height:80px !important;" class="example-full-width">
			<input matInput placeholder="Payment Term" value="" formControlName="uom_name">
		</mat-form-field>
		</div>
		<p class="full" align="center">
        <button class="btn btn-outline-primary"><i class="fa fa-save"></i> Save</button>
		</p>
	</form>