<div style="height:60px" >
		<h3> Add Tax</h3>		
			</div>	
			<form [formGroup] = "addTaxForm" (ngSubmit)="onSubmit()">
		<div>
		<mat-form-field style="width:400px !important; height:80px !important;" class="example-full-width">
			<input matInput placeholder="Tax Name" value="" formControlName="tax_name">
		</mat-form-field>
		</div>
		<div>
		<mat-form-field  style="width:400px !important; height:80px !important;" class="example-full-width">
				<input matInput  placeholder="Tax Rate" value="" formControlName="tax_rate">
		</mat-form-field>
		</div>
		<p class="full" align="center">
				<button class="btn btn-outline-primary"><i class="fa fa-save"></i> Save</button>
		</p>
	</form>