<div class="main-nav">  	
	  <nav class="navbar navbar-expand-lg">
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
			  <li class="nav-item active">
				<a class="nav-link" href="#"><span class="active-item-here"></span><i class="fa fa-dashboard mr-5"></i> <span>Dashboard</span></a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-th mr-5"></i> <span>App</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
				  <li class="nav-item"><a class="nav-link" href="pages/app/app-chat.html">Chat app</a></li>
				  <li class="nav-item"><a class="nav-link" href="pages/app/app-contact.html">Contact / Employee</a></li>	
				  <li class="nav-item"><a class="nav-link" href="pages/email/index.html">Emails</a></li>				  
				</ul>				  
			  </li>	
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-envelope mr-5"></i> <span>Mailbox</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
				  <li class="nav-item"><a class="nav-link" href="pages/mailbox/mailbox.html">Inbox</a></li>
				  <li class="nav-item"><a class="nav-link" href="pages/mailbox/compose.html">Compose</a></li>	
				  <li class="nav-item"><a class="nav-link" href="pages/mailbox/read-mail.html">Read</a></li>				  
				</ul>				  
			  </li>
			  <li class="nav-item dropdown m-menu m-fix">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-bars mr-5"></i> <span>Forms & Widgets</span>
				</a>
				<div class="dropdown-menu menu-mega mega-menu-auto scale-up-left">
				  	<ul class="menu-mega-child one-half list-unstyled">
						<li>
							<a class="nav-link" href="pages/forms/advanced.html" title=""><i class="fa fa-address-book mr-15"></i>Advanced Elements</a>
						</li>
						
					</ul><!-- /.menu-mega-child one-four -->	
				</div>
				  
			  </li>
			  <li class="nav-item dropdown m-menu m-fix">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-table mr-5"></i> <span>Charts & Tables</span>
				</a>
				<div class="dropdown-menu menu-mega mega-menu-auto scale-up-left">
				  	<ul class="menu-mega-child one-half list-unstyled">
					</ul><!-- /.menu-mega-child one-four -->
				</div>
			  </li>
			  
			  <li ngbDropdown class="nav-item dropdown">
				<a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-laptop mr-5"></i> <span>Supplier Master</span></a>
					<ul ngbDropdownMenu class="dropdown-menu multilevel scale-up-left">
						<li class="nav-item"><a class="nav-link" routerLink="/supplier">Supplier</a></li>
						<li class="nav-item"><a class="nav-link" routerLink="/printable">Printable Format</a></li>
					</ul> 
				</li>	
							  
			  <li ngbDropdown class="nav-item dropdown">
				<a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product Master</a>
				  <ul ngbDropdownMenu class="dropdown-menu multilevel scale-up-left">
				  <li class="nav-item"><a class="nav-link" routerLink="/product">Product</a></li>
				  <li class="nav-item"><a class="nav-link" routerLink="/uom">UOM</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/group">Group</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/tax">Tax Rate</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/payment">Payment Term</a></li>
				</ul>				  
			  </li>
			  		  
			</ul>
		  </div>
		</nav>	  
  </div>