<div>
	<h3>Add Product</h3>		
		</div>	
			<form [formGroup] = "addProductForm" (ngSubmit)="onSubmit()">
		<div class="two-col">
			<div class="col1">
		<mat-form-field style="width:300px !important; height:60px !important;" class="example-full-width">
			<input matInput placeholder="Product Name" value="" formControlName="product_name">
		</mat-form-field>
		&nbsp;&nbsp;
		</div>
		<div class="col2">
			<mat-form-field style="width:300px !important; height:60px !important;">
				<mat-select ngModel formControlName="product_group" placeholder="Group">
				  <mat-option *ngFor="let group of groups" [value]="group.group_name">
					{{group.group_name}}
				 </mat-option>
				</mat-select>
			  </mat-form-field>
		</div>
		</div>
		<div class="two-col">
			<div class="col1">
			<mat-form-field style="width:300px !important; height:60px !important;" class="example-full-width">
				<input matInput placeholder="Product Grade" value="" formControlName="product_grade">
			</mat-form-field>
			&nbsp;&nbsp;
			</div>
			
		<div class="col2">
			<mat-form-field style="width:300px !important; height:60px !important;">
				<mat-select ngModel formControlName="product_uom" placeholder="UOM">
				  <mat-option *ngFor="let uom of uoms" [value]="uom.uom_name">
					{{uom.uom_name}}
				</mat-option>
				</mat-select>
			  </mat-form-field>
		</div>
		</div>
		<div class="two-col">
		<div class="col1">
			<mat-form-field style="width:300px !important; height:60px !important;">
				<mat-select  ngModel formControlName="product_taxrate" placeholder="Tax">
				  <mat-option *ngFor="let tax of taxs" [value]="tax.tax_name">
					{{tax.tax_name}}
				</mat-option>
				</mat-select>
			  </mat-form-field>
			  &nbsp;&nbsp;
		</div>
		
		<div class="col2">
		<mat-form-field style="width:300px !important; height:60px !important;" class="example-full-width">
				<input matInput  placeholder="HSN" value="" formControlName="product_hsn">
		</mat-form-field>
		</div>
		</div>
		<p class="full" align="center">
				<button class="btn btn-outline-primary"><i class="fa fa-save"></i> Save</button>
		</p>
	</form>