<footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		</ul>
    </div>
	  &copy; 2018 <a href="https://www.tecture.in/">Tecture Business Solutions Pvt. Ltd.</a> All Rights Reserved.
  </footer>