<div class="clearfix" align="right">
  <button class="btn btn-outline-primary" (click)="add()"><i class="fa fa-plus"></i> Add Payment Term</button>
    </div> 
    <div class="row">	
      <div class="col-12">
          
       <div class="table-responsive">
         <table id="example5" class="table table-bordered table-striped" style="width:100%">
         <thead>
           <tr>
             <th>No.</th>
             <th>Payment Term</th>
             <th>Duration</th>
             <th>Action</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let s of payment; let ind = index">
             <td>{{s.paymentId}}</td>
             <td>{{s.payment_term}}</td>
             <td>{{s.payment_duration}}</td>
             <td align="center">
              <button class="btn btn-primary btn-outline btn-sm" (click)="onUpdate(s.payment_id)"><i class="fa fa-pencil" aria-hidden="true"></i></button> &nbsp; &nbsp;
              <button class="btn btn-danger btn-outline mr-1 btn-sm" (click)="onDelete(s.payment_id, ind)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
           </tr>
       </table>
       </div> 
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->     
      
          
          