<div class="clearfix" align="right">
  <button class="btn btn-outline-primary" (click)="add()"><i class="fa fa-plus"></i> Add Product</button>
    </div> 
    <div class="row">	
        <div class="col-12">
            
         <div class="table-responsive">
           <table id="example5" class="table table-bordered table-striped" style="width:100%">
           <thead>
             <tr>
               <th>Product ID.</th>
               <th>Product Name</th>
               <th>Group</th>
               <th>Grade</th>
               <th>UOM</th>
               <th>Tax</th>
               <th>HSN</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let s of product; let ind = index">
               <td>{{s.productId}}</td>
               <td>{{s.product_name}}</td>
               <td>{{s.product_group}}</td>
               <td>{{s.product_grade}}</td>
               <td>{{s.product_uom}}</td>
               <td>{{s.product_taxrate}}</td>
               <td>{{s.product_hsn}}</td>
               <td align="center">
                <button class="btn btn-primary btn-outline btn-sm" (click)="onUpdate(s.product_id)"><i class="fa fa-pencil" aria-hidden="true"></i></button> &nbsp; &nbsp;
                <button class="btn btn-danger btn-outline mr-1 btn-sm" (click)="onDelete(s.product_id, ind)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
             </tr>
         </table>
         </div> 
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->     
        
            
            