<app-header></app-header>
<app-nav></app-nav>
<!-- <app-appmenu></app-appmenu>   -->
  <div class="wrapper">
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
          <h1>
      
            <small></small>
          </h1>
          <ol class="breadcrumb">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Search">
                </div>
          </ol>
        </section>
   
       <!--Main Content-->
        <section class="content">
         <router-outlet></router-outlet>
        </section>
   
      
    </div>
  </div>
  <app-footer></app-footer> 