<div style="height:60px" >
  <h3>Update Product</h3>		
    </div>	
    <form [formGroup]="UpdateForm" (ngSubmit)="onSubmit()">
  <div>
  <mat-form-field style="width:400px !important; height:80px !important;" class="example-full-width">
    <input matInput placeholder="Product Name" value="{{this.product[0].product_name}}" formControlName="name">
  </mat-form-field>
  </div>
  <div>
  <mat-form-field  style="width:400px !important; height:80px !important;" class="example-full-width">
      <input matInput  placeholder="No of Duration" value="{{this.payment[0].payment_duration}}"  formControlName="duration">
  </mat-form-field>
  </div>
  <p class="full" align="center">
      <button class="btn btn-outline-primary"><i class="fa fa-save"></i> Save</button>
  </p>
</form>